@charset "UTF-8";

header{
	height: 300px;
	padding-left: 250px;
    padding-right: 250px; 
}
.logoImg:hover {
	cursor: pointer;
}
.top1 {
	display: flex;
	align-items: center;
	white-space: nowrap;
	justify-content: space-between;
	height: 250px;
	
}

.top2{
	height: 50px;
}

.top > img {
	height: 100px;
	width: 250px;
}

nav{
	margin: 0;
	padding: 0;
}

.search{
	width: 400px;
	
	height: 60px;
	margin: 0 100px;
	background-color: #ffffff;
	flex-grow: 1;
}
.searchInputGroup {
	width: 100%;
	height: 100%;
	min-width: 100px;
}

.searchText{
	width: 100%;
	height: 100%;
	border: 1px solid orange !important;
	float: left;
}

.searchBtn{
	/* width: 50px;
	height: 100%; */
	border: 0px !important;
	background-color: #fb8500;
	/* outline: none; */
	float: right;
	color: #ffffff;
}

.btn{
	background-color: #fb8500 !important;
	color: white !important;
}

.btn-jelly:hover {
	background-color: orange;
	color: white;
  -webkit-animation: jelly 0.5s;
          animation: jelly 0.5s;
}

@-webkit-keyframes jelly {
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}

@keyframes jelly {
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}

.carousel-inner {
	width: 100%;
	margin-top: 100px;
	padding-left: 250px;
	padding-right: 250px;
}


.new {
	width: 100%;
	margin-top: 100px;
	display: inline-block;
	padding-left: 250px;
    padding-right: 250px; 
}

.domestic {
	width: 100%;
	margin-top: 200px;
	position: hidden;
	display: inline-block;
	padding-left: 250px;
    padding-right: 250px; 
}

.foreign {
	width: 100%;
	margin-top: 200px;
	margin-bottom : 50px;
	display: inline-block;
	padding-left: 250px;
    padding-right: 250px;
}

.new1, .domestic1, .foreign1 {
	width: 100%;
}

.new2, .domestic2, .foreign2 {
	width: 100%;
	display: flex;
}

.col{
	padding-right: 10px;
}

.card-img-top{
	width:220px;
	height:320px;
}

.card-body{
	flex: 0;
	padding: 0;
}