@charset "UTF-8";

header{
	height: 300px;
}

.top1 {
	display: flex;
	align-items: center;
	white-space: nowrap;
	justify-content: center;
	height: 250px;
	
}

.top2{
	height: 50px;
}

.top > img {
	height: 100px;
	width: 250px;
}

nav{
	margin: 0;
	padding: 0;
}

.search{
	height: 50px;
	width: 400px;
	border: 1px solid orange;
	background-color: #ffffff;
	margin-left: 300px;
	margin-right: 300px;
}

.searchText{
	font-size: 16px;
	width: 325px;
	padding: 10px;
	border: 0px;
	outline: none;
	float: left;
}

.searchBtn{
	width: 50px;
	height: 100%;
	border: 0px;
	background-color: orange;
	outline: none;
	float: right;
	color: #ffffff;
}

.join{
	margin-right: 20px;
	height: 50px;
}

.login{
	height: 50px;
}

.new {
	width: 100%;
	margin-top: 100px;
	display: inline-block;
}

.domestic {
	width: 100%;
	margin-top: 200px;
	position: hidden;
	display: inline-block;
}

.foreign {
	width: 100%;
	margin-top: 200px;
	margin-bottom : 50px;
	display: inline-block;
}

.new1, .domestic1, .foreign1 {
	width: 100%;
}

.new2, .domestic2, .foreign2 {
	width: 100%;
	display: flex;
}

.col{
	padding-right: 10px;
}

.card-img-top{
	width:220px;
	height:320px;
}

.card-body{
	flex: 0;
	padding: 0;
}