@charset "UTF-8";

header{
	height: 300px;
	padding-left: 250px;
    padding-right: 250px; 
}

.top1 {
	display: flex;
	align-items: center;
	white-space: nowrap;
	justify-content: center;
	height: 250px;
}

.top2{
	height: 50px;
}

.top > img {
	height: 100px;
	width: 250px;
}

nav{
	margin: 0;
	padding: 0;
}

.search{
	height: 50px;
	width: 400px;
	background-color: #ffffff;
	margin-left: 240px;
	margin-right: 240px;
}

.searchText{
	font-size: 16px;
	width: 325px;
	padding: 10px;
	border: 0px;
	outline: none;
	float: left;
}

.searchBtn{
	width: 50px;
	height: 100%;
	border: 0px;
	background-color: #fb8500;
	outline: none;
	/* float: right; */
	color: #ffffff;
}

.btn{
	background-color: #fb8500;
	color: white;
}

.btn-jelly:hover {
	background-color: orange;
	color: white;
  -webkit-animation: jelly 0.5s;
          animation: jelly 0.5s;
}

@-webkit-keyframes jelly {
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}

@keyframes jelly {
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}

.logout{
	margin: 0 auto;
	width: 300px;
	min-height: 300px;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
	margin-top: 300px;
} 

